@model IEnumerable<Labb1_Entity_Framework.Models.VacationRequest>

@{
    ViewData["Title"] = "AdminIndex";
}

<h1>AdminIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="VacationRequests" asp-action="ActiveIndex" method="get">
    <p>
        Name: <input type="text" name="id" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Lastname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Lastname)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
